name: Dependabot auto-approve
on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GH_PAT }}
      - name: Update dist folder
        run: npm ci && npm run dist
      - name: Commit dist folder
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[dependabot skip] Update dist"
          commit_options: --no-verify --allow-empty
          file_pattern: dist
          skip_dirty_check: true

      - name: Approve and Auto-merge dependabot PR
        run: |
          gh pr review --approve "$PR_URL"
          gh pr merge --auto --squash --delete-branch "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}